:root {
  font-family: Rubik;
  --text-color: #FFFFFF;
  background-color: #2D2D2D;
}

a{
  text-decoration: none; 
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  min-width: 320px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.block0{
  display: block;
  margin-left: 0px;
  margin-right: 0px;
}

.logo{
  display: flex;
  align-items: start;
  justify-self: start;
}
.header{
  
}
.flex{
  display: flex;
  /* flex-direction: row; */
  justify-content: space-between;
  align-content: center;
  padding: 0.8rem 0rem 1.6rem 0rem;
}
.header-logo{
  background-color: #2D2D2D;
  border: none;
}
.menu{
  justify-content: end;
  background-color: #2D2D2D;
  border: none;
}

.line1 {
  margin-top: 1.6rem;
  border-top: .1rem solid #575555;
}

/**/
.section{
  
}

.section-h1{
  color: #FFF;
  font-size: 3rem;
  font-style: normal;
  font-weight: 900;
  line-height: 141.5%; /* 42.45px */
  /* max-width: 100%; */
}
.buttons2{
  display: flex;
  gap: 3.6rem;
}
.buttonsin{
  color: #FFF;
  font-family: Rubik;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}
.section-discription{
  color: #FFF;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 19.2px */
  max-width: 28.8rem;
}

.fuelwheel{
  display: block;
  max-width: 20rem;
  max-height: 30rem;
  margin: auto;
  transform: rotate(45deg);
}

.list{
  display: flex;
  flex-wrap: wrap;
  gap: 2.7rem;
}
.item{
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 2rem;
}
.item-text{
  color: #FFF;
  font-family: Rubik;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 140.5%;/* 22.48px */
}
@media (min-width: 320px) and (max-width:960px) {
  .wrapper {/*обертка */
    max-width: 32rem;
    margin-left: auto;
    margin-right: auto;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  
  .buttons2,.big{
    display: none;
  }
}
@media (min-width: 960px) {
  .wrapper{
    max-width: 161rem;
    margin-left: auto;
    margin-right: auto;
    padding-left: 24.5rem;
    padding-right: 24.5rem;
  }
  .menu,.small{
    display: none;
  }
  .big{
    display: flex;
    flex-direction: row;
  }
  .content{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .list{
    flex-wrap: nowrap;
  }
  .im{
    max-width: 11.4rem;
    max-height: 11.4rem;
  }
  .fuelwheel{
    width: 46.7323rem;
    height: 70.6615rem;
  }
}
